#  Essential Python Programming
It was created by Guido van Rossum, and released in 1991.

It is used for:
- web development (server-side)
- software development
- mathematics
- system scripting

Python runs on an interpreter system

Python can be treated in a procedural way, an object-orientated way or a functional way

In [ ]:
print('Hello World')

Hello World

In [ ]:
a= 5.7
b=4.2
c=a+b
print(c)

9.9

In [ ]:
print(a-b)

1.5

## Python Operators

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

### Arithmetic operator
- Addition         x+y
- Subtraction      x-y
- Multiplication   x*y
- Division	x / y
- Modulus	x % y
- Exponentiation	x ** y
- Floor division	x // y

In [ ]:
a=15
b=10
print(a/b)

1.5

In [ ]:
print(a//b)

1

In [ ]:
print(a%b)

5

### Logical Operators
- and 	----->	x < 5 and  x < 10
- or	----->	x < 5 or x < 4
- not	----->	not(x < 5 and x < 10)

In [ ]:
a=False
b=True
print(a and b)
print(a or b)
print(not(a and b))

False
True
True

In [ ]:
a=False
b=False
print(not(a or b))

True

In [ ]:
print(not(b))

True

### Identity operators
Used to compare the objects
- is
- is not

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)  #z is assigned the same reference as x, meaning z points to the same list object in memory as x.

True

In [ ]:
print(x is y)

False

In [ ]:
w = x[:] #new list that is a copy of x
print(x is w)

False

In [ ]:
z = x.copy()  #new list that is a copy of x
print(x is z)

False

In [ ]:
print(x == y)

True

### Membership operators
Used to test if a sequence is presented in an object
- in
- not in

In [ ]:
x = ["apple", "banana"]
print("banana" in x)

True

In [ ]:
print("pineapple" not in x)

True

#### type() functtion

In [ ]:
print(type(a))

<class 'bool'>

In [ ]:
f=1.5
print(f)
print(type(f))

1.5
<class 'float'>

In [ ]:
s="Hello"
print(s)
print(type(s))

Hello
<class 'str'>

In [ ]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [ ]:
c=5+3j
print(c)
print(type(c))

(5+3j)
<class 'complex'>

## Strings

In [ ]:
s1='hai'
s2="hello"
s3=s1+s2
print(s3)

haihello

In [ ]:
print(len(s3))

8

In [ ]:
print(s3.upper())

HAIHELLO

In [ ]:
print(s3.lower())

haihello

In [ ]:
print(s3.capitalize())

Haihello

In [ ]:
print(a,'+',b,'=',s)

False + True = Hello

In [ ]:
s3='%s %s' %(s1,s2)

In [ ]:
print(s3)

hai hello

#### split() function

In [ ]:
word='helllo word how are you'.split(' ')
print(word)

['helllo', 'word', 'how', 'are', 'you']

In [ ]:
word

['helllo', 'word', 'how', 'are', 'you']

#### Input() Function

In [ ]:
a=input("Enter a value :")
print(a)
print(type(a))

Enter a value :5
5
<class 'str'>

In [ ]:
a=int(input("Enter a value :"))
print(a)
print(type(a))

Enter a value :3
3
<class 'int'>

###### Sum and Avarage

In [ ]:
a=int(input("Enter a value for A :"))
b=int(input("Enter a value for B:"))
c=int(input("Enter a value for C :"))
sum=a+b+c
avg=sum/3
print('Sum =',sum)
print("Average =", avg)

Enter a value for A :1
Enter a value for B:2
Enter a value for C :3
Sum = 6
Average = 2.0

###### Sum of Digits

In [ ]:
n=int(input("Enter a value :"))
s=0
while n>0:
 d=n%10
 n=n//10
 s=s+d
print(s)

Enter a value :234
9

## Control structures

1- Branching

2- Looping

### Branching

if

if-else

if-elif-else

1. Check the given number is negative,zero or positive

In [ ]:
n=int(input("Enter a value :"))
if n>0:
    print("The number is Positive")
elif n<0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a value :5
The number is Positive

Note

*   Take care of indentation !
*   Don’t forget to put  ‘ : ’ at the end
*   Remember its elif not else if

### for loop

##### range( ) function

In [ ]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(10):
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [ ]:

for i in range(10):
    print(pow(2,i))

1
2
4
8
16
32
64
128
256
512

### while loop

In [ ]:
i=1
c=0
while c<10:
    print(i)
    i=i*2
    c=c+1

1
2
4
8
16
32
64
128
256
512

Print n terms of the sequence 1 2 4 7 11 16.....

In [ ]:
i=1
c=1
while c<=10:
    print(i, end=' ')
    i=i+c
    c=c+1

1 2 4 7 11 16 22 29 37 46

In [ ]:
a=1
b=0
while b <=10:
    print(b, end=' ')
    c = a+b
    a=b
    b=c

0 1 1 2 3 5 8

## Continers

Python Collections (Arrays)- There are four collection data types in the Python

1. List
2. Tuple
3. Dictionary
4. Set

### List [ ]

List is a collection which is ordered and changeable. Allows duplicate members.

In [ ]:
mylist = [1,2,1,2.5,True,"a",'abc']
print(mylist)

[1, 2, 1, 2.5, True, 'a', 'abc']

In [ ]:
print(mylist[4])

True

In [ ]:
mylist.append("xyz")
print(mylist)

[1, 2, 1, 2.5, True, 'a', 'abc', 'xyz']

In [ ]:
print(mylist.pop())

xyz

In [ ]:
print(mylist)

[1, 2, 1, 2.5, True, 'a', 'abc']

### insert

In [ ]:
mylist.insert(3,'5')
print(mylist)

[1, 2, 1, '5', 2.5, True, 'a', 'abc']

Remove items

In [ ]:
print(mylist.remove('5'))

None

In [ ]:
print(mylist)

[1, 2, 1, 2.5, True, 'a', 'abc']

In [ ]:
print(mylist.pop())
print(mylist)

abc
[1, 2, 1, 2.5, True, 'a']

#### Delete

In [ ]:
del mylist[0]
print(mylist)

[2, 1, 2.5, True, 'a']

In [ ]:
mylist

[2, 1, 2.5, True, 'a']

#### Clear

In [ ]:
mylist.clear()
print(mylist)

[]

Copy list

In [ ]:
l=[1,2,3]

In [ ]:
print(l)

[1, 2, 3]

In [ ]:
mylist=l.copy()

In [ ]:
m=l

In [ ]:
m

[1, 2, 3]

In [ ]:
print(mylist)

[1, 2, 3]

Completely delete the list

In [ ]:
del mylist

In [ ]:
mylist

NameError: name 'mylist' is not defined

In [ ]:
a=[1,2,3]
b=[4,5,6]

In [ ]:
a=[1,2,3]
b=[4,5,6]
b.append(a)
print(b)

[4, 5, 6, [1, 2, 3]]

In [ ]:
a=[1,2,3]
b=[4,5,6]
b.extend(a)
print(b)

[4, 5, 6, 1, 2, 3]

In [ ]:
b.sort()
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(len(b))

6

In [ ]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [ ]:
l = "hello"

In [ ]:
l=list(l)

In [ ]:
print(list(l))

['h', 'e', 'l', 'l', 'o']

In [ ]:
lst=list(range(1,16))

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
lst=list(range(1,16))
p= []
print(lst)
for i in lst:
    p.append(i ** 2)
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [ ]:
l=list(range(1,16))
p= []
print(l)
for i in l:
    p.append(pow(i,2))
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
l=list(range(1,16))
p=[i**2 for i in l]
print(l)
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [ ]:
l=list(range(1,16))
p=[i**2 for i in l if i%2 !=0]
print(l)
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 9, 25, 49, 81, 121, 169, 225]

List Slicing

Range of Indexes

list_name[a:b] -> Slice out a sublist starting from **a** upto **b-1**

In [ ]:
l=[1,2,3,4,5,6,7]
print(l[1:-3])

[2, 3, 4]

In [ ]:
print(l[:6])

[1, 2, 3, 4, 5, 6]

In [ ]:
print(l[3:])

[4, 5, 6, 7]

Negative Indexing

In [ ]:
print(l[-1])

7

In [ ]:
print(l[:-1])

[1, 2, 3, 4, 5, 6]

In [ ]:
print(l[:-2])

[1, 2, 3, 4, 5]

In [ ]:
print(l[-3:])

[5, 6, 7]

Range of Negative Indexes

In [ ]:
print(l[-3:-1])

[5, 6]

Change Item Value

In [ ]:
l[1]= 8
print(l)

[1, 8, 3, 4, 5, 6, 7]

Check if Item Exists

In [ ]:
if 5 in l:
    print("Yes, 5 exist in list")
else :
    print("No,")

Yes, 5 exist in list

List Length

In [ ]:
print(len(l))

7

Methods

1. append()	      Adds an element at the end of the list
2. clear()	      Removes all the elements from the list
3. copy()	      Returns a copy of the list
4. count()	      Returns the number of elements with the specified value
5. extend()	      Add the elements of a list (or any iterable), to the end of the current list
6. index()  	  Returns the index of the first element with the specified value
7. insert()	      Adds an element at the specified position
8. pop()	      Removes the element at the specified position
9. remove()	      Removes the item with the specified value
10. reverse()	  Reverses the order of the list
11. sort()	      Sorts the list

### Tuple( )

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
tup=(1,2,3,6,3,2,9)
print(tup)
print(type(tup))

(1, 2, 3, 6, 3, 2, 9)

In [ ]:
print(tup[3])

6

In [ ]:
print(tup[-1])

9

In [ ]:
print(tup[2:5])

(3, 6, 3)

In [ ]:
ltup=list(tup)

In [ ]:
print(ltup)

[1, 2, 3, 6, 3, 2, 9]

In [ ]:
tup = tuple(ltup)

In [ ]:
print(tup)

(1, 2, 3, 6, 3, 2, 9)

Change the value of tuple

In [ ]:
ltup[1]=5
tup=tuple(ltup)
print(tup)

(1, 5, 3, 6, 3, 2, 9)

In [ ]:
res=(1,2,3)+(4,5,6)
print(res)

(1, 2, 3, 4, 5, 6)

In [ ]:
if 5 in res:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
if '5' in res:
    print("Yes")
else:
    print("No")

No

In [ ]:
print(len(res))

6

In [ ]:
myTup = ("apple",)
print(myTup)

('apple',)

In [ ]:
print(type(myTup))

<class 'tuple'>

In [ ]:
#NOT a tuple
myTup = ("apple")
print(myTup)
print(type(myTup))

apple
<class 'str'>

In [ ]:
myTup = (5)
print(myTup)
print(type(myTup))

5
<class 'int'>

In [ ]:
myTup = (5,)
print(myTup)
print(type(myTup))

(5,)
<class 'tuple'>

In [ ]:
tup= (2,6,4,1,8,4,2,2)
print(tup)
print(type(tup))

(2, 6, 4, 1, 8, 4, 2, 2)
<class 'tuple'>

In [ ]:
tup=tuple((2,6,4,1,8,4,2,2))
print(tup)
print(type(tup))

(2, 6, 4, 1, 8, 4, 2, 2)
<class 'tuple'>

In [ ]:
print(len(tup))

8

In [ ]:
print(tup.count(2))

3

In [ ]:
print(tup.index(4))

2

### Set { }

Set is a collection which is unordered and unindexed. No duplicate members.

In [ ]:
mySet={1,2,3,1,-2,5}
print(mySet)

{1, 2, 3, 5, -2}

In [ ]:
A = {'a','g','s',1,'hai',"hello",8}
print(A)
print(type(A))

{1, 'g', 's', 8, 'hello', 'hai', 'a'}
<class 'set'>

In [ ]:
lst=[1,2,3,6,2,7,3,4,9,5,4]

In [ ]:
lst

[1, 2, 3, 6, 2, 7, 3, 4, 9, 5, 4]

In [ ]:
print(type(lst))

<class 'list'>

In [ ]:
ulst=set(lst)
print(ulst)
print(type(ulst))

{1, 2, 3, 4, 5, 6, 7, 9}
<class 'set'>

In [ ]:
ulst=list(ulst)
print(ulst)

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
ulst=list(set(lst))
print(ulst)

[1, 2, 3, 4, 5, 6, 7, 9]

Add Items

In [ ]:
mySet.add(5)
print(mySet)

{3, 5, 11, 12, 13, -2}

In [ ]:
mySet.update([11,12,13])
print(mySet)

{3, 5, 11, 12, 13, -2}

Remove Item

In [ ]:
mySet.remove(2)
print(mySet)

{3, 5, 11, 12, 13}

In [ ]:
mySet.discard(1)
print(mySet)

{3, 5, 11, 12, 13, -2}

Note:If the item to remove does not exist, discard() will NOT raise an error but remove() wil raise an error

In [ ]:
print(mySet.pop())

3

Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [ ]:
mySet.clear()
print(mySet)

set()

In [ ]:
del mySet
print(mySet)

NameError: name 'mySet' is not defined

In [ ]:
set1={1,2,3}
set2={1,5,7,6,3}

In [ ]:
print("Union: ",set1.union(set2))

Union:  {1, 2, 3, 5, 6, 7}

In [ ]:
print("Intersection: ",set1.intersection(set2))

Intersection:  {1, 3}

In [ ]:
print("Diffeeerence : ",set1.difference(set2))

Diffeeerence :  {2}

#### Set Methods

- add():	                         Adds an element to the set
- clear():	                         Removes all the elements from the set
- copy():	                         Returns a copy of the set
- difference():                    	 Returns a set containing the difference between two or more sets
- difference_update():	             Removes the items in this set that are also included in another, specified set
- discard():	                     Remove the specified item
- intersection():	                 Returns a set, that is the intersection of two other sets
- intersection_update():	         Removes the items in this set that are not present in other, specified set(s)
- isdisjoint():	                     Returns whether two sets have a intersection or not
- issubset():	                     Returns whether another set contains this set or not
- issuperset():	                     Returns whether this set contains another set or not
- pop():	                         Removes an element from the set
- remove():	                         Removes the specified element
- symmetric_difference():	         Returns a set with the symmetric differences of two sets
- symmetric_difference_update():	 inserts the symmetric differences from this set and another
- union():	                         Return a set containing the union of sets
- update():	                         Update the set with the union of this set and others

### Dictionary {Key : Value}

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [ ]:
A = ["Jafseer","DCA","CUSAT"] #list
B= {'name':"Jafseer","dep":"DCA","college":"CUSAT"} #dictionary

In [ ]:
print(A)

['Jafseer', 'DCA', 'CUSAT']

In [ ]:
print(B)

{'name': 'Jafseer', 'dep': 'DCA', 'college': 'CUSAT'}

In [ ]:
print(B['name'])

Jafseer

In [ ]:
print(B.get('name'))

Jafseer

In [ ]:
print('phone' in B)

False

In [ ]:
print('Jafseer' in B)

False

In [ ]:
print('name' in B)

True

In [ ]:
B['phone']='9946118433'
print(B)

{'name': 'Jafseer', 'dep': 'DCA', 'college': 'CUSAT', 'phone': '9946118433'}

In [ ]:
for key in B:
    print(key,B[key])

name Jafseer
dep DCA
college CUSAT
phone 9946118433

In [ ]:
for key,value in B.items():
    print(key,value)

name Jafseer
dep DCA
college CUSAT
phone 9946118433

Copy

In [ ]:
myDict=B.copy()
for key,value in myDict.items():
    print(key,value)

name Jafseer
dep DCA
college CUSAT
phone 9946118433

In [ ]:
print(B.keys())

dict_keys(['name', 'dep', 'college', 'phone'])

In [ ]:
print(B.values())

dict_values(['Jafseer', 'DCA', 'CUSAT', '9946118433'])

Create a list of integers from 1 to 10, using list comprehension create lists of squares and cubes. Then create a dictonary where keys as numbers,squares and cubes and values are corresponding lists, finally itrate through dictionary to print it

In [ ]:
numbers=list(range(1,11))
sqr=[x**2 for x in numbers]
cub=[x**3 for x in numbers]
math_dic={'Numbers':numbers,'Squares':sqr,'Cubes':cub}
for key,value in math_dic.items():
    print(key,':',value)

Numbers : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes : [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### Dictionary Methods

- clear():	    Removes all the elements from the dictionary
- copy():         Returns a copy of the dictionary
- fromkeys():	    Returns a dictionary with the specified keys and value
- get():	        Returns the value of the specified key
- items():	    Returns a list containing a tuple for each key value pair
- keys():	        Returns a list containing the dictionary's keys
- pop():	        Removes the element with the specified key
- popitem():	    Removes the last inserted key-value pair
- setdefault():	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update():	    Updates the dictionary with the specified key-value pairs
- values():	    Returns a list of all the values in the dictionary

# Functions

In [ ]:
...
def <funtion_name>(parameter1,parameter2,.....):

    statement2

    return<value>
...

In [ ]:
def getTwice (number):
    twiceNum=2*number
    return twiceNum

In [ ]:
print(getTwice(10))

20

In [ ]:
#To check prime or not

def isPrime(n):
    if n<=1:
        return False
    for factor in range(2,n//2+1):
        if n%factor == 0:
            return False
    return True

In [ ]:
print(isPrime(1))

False

In [ ]:
# Prime numbeers between Two numbers
def primes(lowerLimit,upperLimit):
    for n in range(lowerLimit,upperLimit):
        if isPrime(n) == True:
            print(n,end= ' ')

In [ ]:
primes(0,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Return Multiple Values

In [ ]:
#Swap two variables
def swap(a,b):
    t=a
    a=b
    b=t
    return a,b

In [ ]:
x=5
y=7
print("Before swap x= "+str(x)+"  y ="+str(y))
x,y=swap(x,y)
print("After swap x= "+str(x)+"  y= "+str(y))

Before swap x= 5  y =7
After swap x= 7  y= 5

#### Functions with Default Arguments

In [ ]:
def greet(name, loud=False):
    if loud == False:
        msg ="hello  "+ name
    else:
        msg ="hello  "+ name.upper()
    return msg

In [ ]:
print(greet("shaji"))

hello  shaji

In [ ]:
print(greet("shaji",loud=True))

hello  SHAJI

In [ ]:
#Calculate the payable amount after n years for princcipal amound and given rate of interest
# default year iss 1 year, interest is 5%
def calculatePayable(principle, year=1,interestRate=5):
    return principle*(1+year*interestRate/100)

In [ ]:
calculatePayable(1000,year=2,interestRate=10)

1200.0

In [ ]:
calculatePayable(1000)

1050.0

#### Passing a List as an Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

#### Passing a Tuple as an Argument  (Arbitrary Arguments, *args)
- If you do not know how many arguments that will be passed into your function
- This way the function will receive a tuple of arguments

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

#### Passing a Dictionary as an Argument / (Arbitrary Keyword Arguments, **kwargs)
- You can also send arguments with the key = value syntax.
- This way the order of the arguments does not matter.
- This way the function will receive a dictionary of arguments

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tovino", lname = "Thomas")

His last name is Thomas

# Class- Object Oriented Programming

##### The __init__() Function
- Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:
- Note: The __init__() function is called automatically every time the class is being used to create a new object.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

##### The self Parameter
- The __self__ parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
- __Note:__ It does not have to be named __self__ , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
#Use the words mysillyobject and abc instead of self:

class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Adder:
    def setValues(self, a,b):
        self.x=a
        self.y=b
    def calculate(self):
        self.sum = self.x+self.y
    def getSum(self) :
        return self.sum
    def printSum(self):
        print("{0}+{1}={2}".format(self.x,self.y,self.sum))

In [ ]:
m=Adder()
m.setValues(3,5)
m.calculate()
print(m.getSum())

8

In [ ]:
m.printSum()

3+5=8

In [ ]:
def main():    #we can give any name
    m=Adder()
    m.setValues(3,5)
    m.calculate()
    print(m.getSum())

if __name__=="__main__":    #<----- Entry point
    main()

8

Delete Objects/Object Properties

In [ ]:
del m.x

In [ ]:
del m

## **THANK YOU**

***A lot more to learn, Keep Learning***

1. Sum of numbers between two given nubers
2. Python code to count the number of occurrences using functions.