In [92]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [93]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import cross_val_score

In [94]:
# load data
heart_data = pd.read_csv('/home/muhammed-shafeeh/AI_ML/Ai-and-Ml/ML_heart_deseas_prediction/heart_disease_data.csv')

In [95]:
# print first 5 rows
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [96]:
# print last 5 rows
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [97]:
# shape of the data
heart_data.shape

(303, 14)

In [98]:
# any missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [99]:
# statistics
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [100]:
# info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [101]:
# check the distribution of target variable
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [102]:
# 0 healthy heart
# 1 diseased heart
# split the data into features and target
X = heart_data.drop('target', axis=1)
Y = heart_data['target']

In [103]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [104]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# **Train Test Split**

In [105]:
# split the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3, stratify=Y)
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

In [106]:
print(X_train)
print(Y_train)

print(X.shape, X_train.shape, X_test.shape)
print(Y_test.shape)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
293   67    1   2       152   212    0        0      150      0      0.8
120   64    0   0       130   303    0        1      122      0      2.0
288   57    1   0       110   335    0        1      143      1      3.0
53    44    0   2       108   141    0        1      175      0      0.6
89    58    0   0       100   248    0        0      122      0      1.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
215   43    0   0       132   341    1        0      136      1      3.0
230   47    1   2       108   243    0        1      152      0      0.0
106   69    1   3       160   234    1        0      131      0      0.1
104   50    1   2       129   196    0        1      163      0      0.0
173   58    1   2       132   224    0        0      173      0      3.2

     slope  ca  thal
293      1   0     3
120      1   2     2
288      1   1     3
53       1   0     2
89       1   0     2
..     ...  ..   ...
215      1   0     3
230      2   0     2
106      1   1     2
104      2   0     2
173      2   2     3

[242 rows x 13 columns]
293    0
120    1
288    0
53     1
89     1
      ..
215    0
230    0
106    1
104    1
173    0
Name: target, Length: 242, dtype: int64
(303, 13) (242, 13) (61, 13)
(61,)

In [88]:
# comparing the performance of different algorithms
models = [
    LogisticRegression(max_iter=1000),
    RandomForestClassifier(),
    KNeighborsClassifier(),
    SVC(kernel='linear')]

def evaluate_model(model):
    
    for model in models:
        model.fit(X_train, Y_train)
        Y_pred = model.predict(X_test)
        #print(classification_report(Y_test, Y_pred))
        print('Accuracy:' ,model, '=', accuracy_score(Y_test, Y_pred))
        print("\n")

In [89]:
evaluate_model(models)

Accuracy: LogisticRegression(max_iter=1000) = 0.7704918032786885

Accuracy: RandomForestClassifier() = 0.7704918032786885


Accuracy: KNeighborsClassifier() = 0.6557377049180327


Accuracy: SVC(kernel='linear') = 0.7704918032786885

In [90]:
#  buiding a predfiction system
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)
input_data_as_numpy_aray = np.asarray(input_data)
print(input_data_as_numpy_aray.shape)

model.predict(input_data_as_numpy_aray.reshape(1,-1))

if model.predict(input_data_as_numpy_aray.reshape(1,-1)) == 0:
    print("The person does not have a heart disease")
else:
    print("The person has heart disease")

(13,)
The person does not have a heart disease

/home/muhammed-shafeeh/AI_ML/Ai-and-Ml/.venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
/home/muhammed-shafeeh/AI_ML/Ai-and-Ml/.venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# **Cross Validation**

**Linear Regression**

In [120]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, Y, cv=5)

print(cv_score_lr)
# average accuracy
mean_accuracy_lr = round(cv_score_lr.mean()*100,2)
print(mean_accuracy_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

**Support Vector Machine**

In [119]:
cv_score_svm = cross_val_score(SVC(kernel='linear'), X, Y, cv=5)
print(cv_score_svm)
# average accuracy
mean_accuracy_svm = round(cv_score_svm.mean()*100,2)
print(mean_accuracy_svm)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

Creating a function for automating the comparing the model

In [131]:
# comparing the performance of different algorithms
models = [
    LogisticRegression(max_iter=1000),
    RandomForestClassifier(),
    KNeighborsClassifier(),
    SVC(kernel='linear')]

def evaluate_model(model):
    
    for model in models:
        scores = cross_val_score(model, X, Y, cv=5)
        scores_mean = round(scores.mean()*100,2)
        
        print(model)
        print('Cross validation scores' , scores)
        print('Accuracy % :', '=', scores_mean)
        print("\n")

In [132]:
evaluate_model(models)

LogisticRegression(max_iter=1000)
Cross validation scores [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy % : = 82.83


RandomForestClassifier()
Cross validation scores [0.83606557 0.90163934 0.83606557 0.81666667 0.76666667]
Accuracy % : = 83.14


KNeighborsClassifier()
Cross validation scores [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % : = 64.39


SVC(kernel='linear')
Cross validation scores [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % : = 82.83